.file {
  position: relative;
  margin: 10% 0 0 0;
}

.cardS{
  padding: 2rem;
}

.dbutton{
  color: #4723D9;
  font-size: 3rem;
}

.dropbutton{
  font-size: 3rem;
}

.spinner{
  position: absolute;
  margin-top: 20%;
  left: 50%;
}