.msg{
    margin-left: 37%;
    transform: translate(0, 0);
}
@media (max-width: 800px) {
    .msg{
        margin-left: 5%;
        transform: translate(35%, 0);
    }
}
.icon{
    font-size: 1.25rem
}




