.msg{
    margin-left: 50%;
    transform: translate(-50%, 0);
}
@media (max-width: 600px) {
    .msg{
        margin-left: 2rem;
        transform: translate(0, 0);
        text-align: center;
    }
}
.icon{
    font-size: 1.25rem
}




