@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

.container-dashboard{
    margin-top: 5rem;
    padding: 2rem;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
}

.donut-inner {
    text-align: center;
    position: relative;
    margin-bottom: auto;
}

.donut-inner h5{
    font-size: 1rem;
}

.archivos-sub{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.archivos-sub h2{
    font-family: 'Montserrat:ital';
    font-weight: 900;
    font-size: 6rem;
}

.card-style{
    position: relative;
    display: flex;
    padding-top: 1rem;
    width: 100%;
}

@media (max-width: 700px) {
    .container-dashboard{
        margin-top: 3rem;
    }

    .donut-inner h5{
        font-size: 1rem;
        color: black;
    }
}